@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  height: auto;
  width: 100%;
  box-sizing: content-box;
  font-family: 'Poppins', sans-serif;
}

.header{
  height: 4rem;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0 2.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header.shadow{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.navlinks > li {
  margin: 0rem 1rem 0rem 1rem;
  font-weight: 500;
}

.navlinks > li:hover{
  cursor: pointer;
  color:#053BED;
  transition: .3s ease-in-out;
}

.navlinks > li::after{
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #cdd7d6;
  left: 0;
}

.hero-section{
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 90%;
  margin-top: 14rem;
  line-height: 3rem;
}

.hero-leading{
  line-height: 6rem;
  font-family: 'Poppins', sans-serif;
}

.hero-section > p{
  position: absolute;
  margin-top: 3px;
  color: #cdd7d6;
}

#hero-span{
  padding: 0.5rem 1.2rem;
  background-color: #053BED;
  border: none;
  height: 2rem;
  border-radius: 2.2rem;
  color: #ffffff;
}

.hero-image{
  margin-left: 45%;
}

.explore-button{
  height: 4rem;
  background-color: #053BED;
  width: 18%;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4rem;
  margin-bottom: 4px;
}

.explore-button:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  opacity: 90%;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.get-started{
  height: 16rem;
  margin-top: 1rem;
  background-color: #ffffff;
  color:  black;
  border-radius: 1rem;
  border: none;
}

.get-started > h1 {
  color: #053BED;
}



.feature-section{
  background: #053BED;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 22rem;
}

.feature-paragraph{
  line-height: 1.8;
}

.about-section{
 height: 28rem;
 /* background-color: #f3f4f6; */
 margin-top: -2rem;
 padding: 3rem;
}

.about-section > h1 {
  color:#053BED;
  letter-spacing: 0.4rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.blankDiv{
  height: 24rem;
}

.graph-container{
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  background-color:#fff;
  height: 16em;
  width: 16em;
  border-radius: 1.6em;
}

.explore-container {
  margin-top: 6rem;
  padding: 2rem;
  height: 82%;
}

.bargraph-container {
  height: 24em;
  width: 64%;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.about-container{
  margin-top: 4.2rem;
  padding: 2rem;
}

.contact-container{
  margin-top: 4rem;
  padding: 2.4rem;
  height: 50rem;
  background-color: #edede9;
}

#error-image{
  height: 18rem;
}

.form-container{
  height: auto;
  background-color: #ffffff;
  border: none;
  border-radius: 1rem;
  padding: 2.6rem;
}

.submit-button{
  background-color: #053BED;
}
.submit-button:hover{
  opacity: 90%;
}
.contact-h1{
  letter-spacing: 0.3rem;
  color:#053BED;
}

.searchbar-container{
  height: 13rem;
  margin-top: 4rem;
  width: 100%;
  background-color: #edede9;
  background-image: url("../src/images/explore_search1.svg"), url("../src/images/explore_search2.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
}

.search-bar{
  width:55%;
}

.languagerepo-container{
  width: 70%;
  padding: 3rem;
  margin: 4rem auto;
}

.previous-button{
  background-color: #053BED;
  width: 9rem;
  height: 3rem;
  padding: 0.5rem;
  font-size: 18px;
  margin-bottom: 3rem;
}